GENERATE_SOURCEMAP=false

REACT_APP_NAME=KISS Translator MA
REACT_APP_NAME_CN=KISS 翻译 MA
REACT_APP_VERSION=1.0.0

REACT_APP_HOMEPAGE=https://github.com/nanyangbbb/kiss-translator-ma

REACT_APP_OPTIONSPAGE=https://nanyangbbb.github.io/kiss-translator-ma/options.html
REACT_APP_OPTIONSPAGE_DEV=http://localhost:3000/options.html

REACT_APP_LOGOURL=https://fishjar.github.io/kiss-translator/images/logo192.png

REACT_APP_RULESURL=https://fishjar.github.io/kiss-rules/kiss-rules_v2.json
REACT_APP_RULESURL_ON=https://fishjar.github.io/kiss-rules/kiss-rules-on_v2.json
REACT_APP_RULESURL_OFF=https://fishjar.github.io/kiss-rules/kiss-rules-off_v2.json

REACT_APP_USERSCRIPT_DOWNLOADURL=https://raw.githubusercontent.com/nanyangbbb/kiss-translator-ma/main/dist/kiss-translator.user.js
REACT_APP_USERSCRIPT_IOS_DOWNLOADURL=https://raw.githubusercontent.com/nanyangbbb/kiss-translator-ma/main/dist/math_academy_ipad.user.js
